*.docx
*.doc
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.mp3
*.avi
*.mov
*.wmv
*.flv
*.mkv
*.webm
*.ogg
*.ogv
*.ogx
*.ogm
*.ogv
*.ogx
*.ogm
*.ogv
*.ogx
*.ogm
*.ogv
*.ogx
*.ogm
ancien script.js
Explication js/